@mixin boldtext {
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: $textcolor;
}

@mixin paragraphtext($opacity) {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $textcolor;
    mix-blend-mode: normal;
    opacity: $opacity;
}