@import 'variables';
@import 'functions';
@import 'body';
@import 'header';
@import 'footer';



.section-1 {
    display: flex;
    justify-content: space-between;
}

.section-1-left {
    max-width: 620px;
    h3 {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
    }
    h1 {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #111111;
        span {
            color: #4A4FF2;
        }
    }
}

.section-1-right {
    align-self: flex-end;
    p {
        @include paragraphtext(0.6)
    }
}




.section-2 {
    margin-top: 144px;
}

.section-3 {
    margin-top: 91px;
    display: flex;
    justify-content: space-between;
}

.section-3-left {
    h2 {
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        color: $textcolor;
        width: 600px;
    }
}

.section-3-mid {
    align-self: center;
    li {
        list-style-type: none;
        @include paragraphtext(0.6);
        line-height: 29px;
    }
}

.section-3-right {
    @extend .section-3-mid;
}



.section-4 {
    margin-top: 101px;
}

.section-4-grid {
    margin-top: 51px;
    margin-bottom: 58px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;

    .grid-item-1 {
        grid-area: 1 / 1 / 2 / 2;
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            color: $textcolor;
        }
    }
    .grid-item-2 {
        grid-area: 1 / 3 / 2 / 4;
        h4 {
            @include boldtext;
        }
    }
    .grid-item-3 {
        grid-area: 1 / 4 / 2 / 5;
        p {
            @include paragraphtext(0.6);
            max-width: 185px;
            width: 100%;
        }
        p:first-child {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
        }
    }

    .grid-item-4 {
        grid-area: 1 / 5 / 2 / 6;
        p {
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $textcolor;
        }
    }
    .grid-item-5 {
        grid-area: 2 / 3 / 3 / 4;
        h4 {
            @include boldtext;
        }
    }
    .grid-item-6 {
        grid-area: 2 / 4 / 3 / 5;
        p {
            @include paragraphtext(0.6);
            max-width: 185px;
            width: 100%;
        }
    }
    .grid-item-7 {
        grid-area: 2 / 5 / 3 / 6;
        p {
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $textcolor;
        }
    }
}